.eye{
  position: relative;
}

.eye img{
  width: 20px;
  position: absolute;
  top: 1px;
  bottom: 0;
  margin-left:270px;
  margin-top: 10px;
}

.ceye{
  position: relative;
}

.ceye img{
  width: 20px;
  position: absolute;
  top: 1px;
  bottom: 0;
  margin-left:270px;
  margin-top: 10px;
}



.logeye{
  position: relative;
  
}

.logeye img{
  width: 20px;
  position: absolute;
  top: 1px;
  margin-left: 200px;
  margin-top: 10px;
}
 